@font-face {
  font-family: 'Krub-Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Krub-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Krub-Bold.ttf') format('truetype');
}




