@font-face {
  font-family: 'Krub-Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Krub-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Krub-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'THSarabun';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/THSarabun.ttf')  format('truetype');
}

@font-face {
  font-family: 'THSarabun-Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/THSarabun-Bold.ttf')  format('truetype');
}



