html {
    overflow-y: inherit !important;
}

b,
strong {
    font-family: 'Krub-Bold';
}

.font-menu-size {
    font-style: normal;
    color: red !important;
}

.a {
    color: red;
}

.label-field-top {
    position: relative;
    top: -6.5px;
}

:root {
    /*General*/
    --dp-font-family: 'Krub-Regular', sans-serif !important;
}

/* For DatePicker Customization */

input[class^='dp__']::placeholder,
input[aria-label='Datepicker input']::placeholder {
    /* Add your desired CSS styles for the placeholder */
    font-size: 0.95em;
    /* Add any other desired styles */
}

.dp__input_invalid {
    box-shadow: unset !important;
    border-color: rgb(176, 0, 32) !important;
}

.dp__input:not(.dp__input_invalid) {
    border-color: rgb(173, 162, 162) !important;

    &:hover {
        border-color: black !important;
    }
}

.dp__input_valid {
    box-shadow: unset !important;
    border-color: rgb(173, 162, 162) !important;
}

.dp__input_invalid::placeholder {
    color: rgb(176, 0, 32) !important;
    opacity: unset !important;
}

.dp__outer_menu_wrap div {
    font-size: 0.99em;
}

.label-light-info {
    color: white !important;
    background-color: #1e88e5 !important;
}

.label-light-megna {
    color: white !important;
    background-color: #a1887f !important;
}

.label-megna {
    color: white !important;
    background-color: #5e4c45 !important;
}

.label-primary {
    color: white !important;
    background-color: #1248ac !important;
}

.label-danger {
    color: white !important;
    background-color: #787a7c !important;
}

.label-inverse {
    color: white !important;
    background-color: #555a5f !important;
}

.label-success {
    color: white !important;
    background-color: #117c3a !important;
}

.label-light-warning {
    color: white !important;
    background-color: #b89d46 !important;
}

.label-info {
    color: white !important;
    background-color: #5bc0de !important;
}

.label-light-success {
    color: #ffffff !important;
    background-color: #0f853c !important;
}

.label-warning {
    color: white !important;
    background-color: #f0ad4e !important;
}

.label-red {
    color: white !important;
    background-color: #ff0000 !important;
}

.label-light-inverse {
    color: #000000 !important;
    background-color: #ffffff !important;
}
