

b, strong {
    font-family: 'Krub-Bold';
}

.font-menu-size {
    font-style: normal;
    color: red !important;
}

.a {
    color: red;
  }

.label-field-top {
    position: relative; 
    top: -6.5px
}

