@use 'vuetify/lib/styles/main.sass' with (
    $body-font-family: 'Krub-Regular',
    $heading-font-family: 'Krub-Bold'
);

.v-text-field {
    .v-field__outline__start {
        border-top-left-radius: inherit !important;
        border-bottom-left-radius: inherit !important;
    }
    .v-field__outline__end {
        border-top-right-radius: inherit !important;
        border-bottom-right-radius: inherit !important;
    }
}
